@import "mixins/mixins";
@import "common/var";

@include b(slide-out) {
  @include e(mask) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
  }
  @include e(main) {
    position: fixed;
    background-color: $--color-white;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    box-shadow: $--slideout-box-shadow;
    display: flex;
    flex-direction: column;
  }
  @include e(header) {
    border-bottom-width: $--border-width-base;
    border-bottom-style: $--border-style-base;
    border-bottom-color: $--border-color-base;
    font-size: $--slideout-title-font-size;
    color: $--color-text-primary;
    padding: $--slideout-padding-primary;
    padding-bottom: 10px;
  }
  @include e(body) {
    flex: 1;
    overflow-y: scroll;
    padding: 10px 15px;
    @include scroll-bar;
  }
  @include e(title) {
    line-height: $--slideout-line-height;
    font-size: $--slideout-title-font-size;
    color: $--color-text-primary;
  }
  @include e(headerbtn) {
    position: absolute;
    top: $--slideout-padding-primary;
    right: $--slideout-padding-primary;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: $--message-close-size;

    .el-slideout__close {
      color: $--color-info;
    }

    &:focus,
    &:hover {
      .el-slideout__close {
        color: $--color-primary;
      }
    }
  }
  @include e(footer) {
    padding: $--slideout-padding-primary;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-top-width: $--border-width-base;
    border-top-style: $--border-style-base;
    border-top-color: $--border-color-base;
    text-align: right;
  }
}

.slideout-fade-enter-active {
  animation: slideout-fade-in 0.3s;
}

.slideout-fade-leave-active {
  animation: slideout-fade-out 0.3s;
}

@keyframes slideout-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideout-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
.slide-enter-active,
.slide-leave-active {
  transition: 0.4s;
}
.slide-enter,
.slide-leave-active {
  transform: translateX(100%);
}
